﻿*{ margin: 0; padding: 0}

aside, footer, header,hgroup,nav {
    display: block;
}
body {
    background-color: hsl(255, 95%,95%);
    font-family: Cambria, 'Times New Roman', serif;
    color: #0068AC;

}
header {
    height: 140px;
    background-image: url('../Images/EIC-Logo-small.png');
    background-repeat: no-repeat;
    margin-top: 10px;
}


#headerText {
    position: absolute;
    top: 0px;
    left: 150px;
    width: 100%;
    margin-top: 10px;
}

h1 {
    font-size: 64px;
    line-height: 55px;
}

h2 {
    font-size: 18px;
    line-height: 20px;
    font-style: italic;
}

nav {
    float: left;
    width: 20%;
    min-width: 125px;
}

div[role="main"] {
    float: left;
    width: 60%;
}

aside {
    float: left;
    width: 20%;
    min-width: 125px;
}

footer {
    clear: both;
    width: 100%;
    height: 70px;
    font-size: small;
}

#container {
    min-width: 800px;
}
#calculator {
    border: solid;
    background-color: hsl(255, 100%, 60%);
    width: 400px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
}
input {
    width: 85%;
    height: 7%;
    text-align: right;
    padding: 10px;
    border: inset;
}
button {
    background-color: hsl(255, 50%, 80%);
    width: 25%;
    height: 10%;
    border: outset;
}
button:hover {
    background-color: hsl(255, 50%, 90%);
}
button:active {
    border: inset;
    border-width: thick;
    border-color: hsl(255, 100%, 100%);
    background-color: hsl(255, 50%, 50%);
}
input, button {
    font-family: Arial;
    font-size: 20pt;
    border-width: thick;
    border-color: hsl(255, 100%, 100%);
    margin: 5px;
}
#txtResult {
    background-color: hsl(255, 50%, 80%);
}
[readonly] { background-color: hsl(255, 50%, 80%); }

label {
    clear: both;
    display: block;
    float: left;
    width: 125px;
    height: 12px;
    vertical-align: bottom;
    padding: 10px;
}

form input {
    width: 200px;
    border-width: medium;
    border-color: hsl(255, 100%, 100%);
    height: 12px;
    text-align: left;
    vertical-align: top;
    font-family: arial;
    font-size: 12pt;
}
form button {
    width: 100px;
    border-width: medium;
    border-color: hsl(255, 100%, 100%);
    vertical-align: top;
    font-family: Arial;
    font-size: 12pt;
    margin: 10px 50%
}
form textarea {
    font-family: Arial;
    font-size: 20pt;
    margin-top: 5px;
    width: 210px;
    border-width: medium;
    border-color: hsl(255, 100%, 100%);
    height: 100px;
    text-align: left;
    vertical-align: top;

}